# Ambiente virtual
venv/
env/

# Cache de Python
__pycache__/
*.pyc

# Arquivos de configurações pessoais
.env
*.env

# Docker volumes/dados persistidos
data/

# IDEs
.vscode/
.idea/

# Arquivos temporários
*.log
*.bak
*.swp
*.DS_Store
